@property --fill {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 0%;
}
.circular-icon {
  --radius: 30px;
  --border-width: 5px;
  .fill-background {
    transition: fill 500ms ease-in-out;
  }
  position: relative;
  z-index: 2;
  &:hover {
    color: light-blue;
    --fill: 100%;
    .fill-background {
      fill: var(--white);
    }
  }
  &::after {
    content: '';
    display: block;
    height: calc(var(--radius) + calc(var(--border-width) * 2));
    width: calc(var(--radius) + calc(var(--border-width) * 2));
    position: absolute;
      inset: calc(var(--border-width) * -1);
      z-index: -1;
    content: "";
    border-radius: 999999999rem;
    background: conic-gradient(
      rgba(0, 0, 0, 0.2) var(--fill),
      transparent var(--fill)
    );
    transition: --fill 350ms ease-in-out;
  }
}
