:root {
  --hp: hotpink;

  // Template colors
  --white: #fff;
  --hotpink: #ff69b4; // Small text #363636 and darker can be used
  --hotblue: #68d1f7;
  --black: #131313;

  // Accent colors
  --black-010: rgba(0, 0, 0, 0.10);
  --black-020: rgba(0, 0, 0, 0.20);
  --black-025: rgba(0, 0, 0, 0.25);
  --black-100: rgba(0, 0, 0, 1.00);

  // Light Areas
  --light-bg: #fff;
  --light-copy: #333;
  --light-copy-gray: #767676; // 4.54:1 with #fff
  --light-copy-pink: #ad0057; // 4.54:1 with #fff

  // Dark Areas
  --dark-bg: #131313;
  --dark-copy: #fff;
  --dark-copy-gray: #aaa;

  // UI elements
  --ui-background-color: #68d1f7; // 7.25:1 with #333
  --ui-border-radius: 0.75rem;
  --ui-border-color: var(--black-025);
  --ui-color: #333;
  --ui-padding: 0.75rem;
  --ui-button-background-color: #68d1f7;
  --ui-button-color: #333;
}

////////////////////////////////////////////////////////////
// Base Typography                                        //
////////////////////////////////////////////////////////////

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--light-bg);
  color: var(--light-copy);
  margin: 0;
  min-width: 320px; // The smallest supported device width.
  padding: 0;
}

a,
a:visited {
  color: var(--light-copy-pink);
}

abbr {
  text-decoration-color: #aaa;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
}

.screen-reader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

::selection {
  background: var(--hotblue);
  color: var(--black);
}

////////////////////////////////////////////////////////////
// Circular Icon Animation                                //
////////////////////////////////////////////////////////////

@property --fill {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 0%;
}

.drawer-list-item {
  &[data-is-highlighted] {
    --fill: 100%;
    .fill-background {
      fill: var(--white);
    }
  }
}

.drawer-list-item-icon {
  --diameter: 30px;
  --track: 5px;
  cursor: pointer;
  .fill-foreground {
    fill: var(--black);
  }
  .fill-background {
    fill: var(--hotpink);
  }
  .circular-icon {
    display: inline-block;
    position: relative;
    z-index: 2;
    width: var(--diameter);
    height: var(--diameter);
    .fill-background {
      transition: fill 500ms ease-in-out;
    }
    &::after {
      content: '';
      display: block;
      height: calc(var(--diameter) + calc(var(--track) * 2));
      width: calc(var(--diameter) + calc(var(--track) * 2));
      position: absolute;
        inset: calc(var(--track) * -1);
        z-index: -1;
      content: "";
      border-radius: 999999999rem;
      background: conic-gradient(
        rgba(0, 0, 0, 0.2) var(--fill),
        transparent var(--fill)
      );
      transition: --fill 350ms ease-in-out;
    }
  }
}

////////////////////////////////////////////////////////////
// Typography for Body Copy                               //
////////////////////////////////////////////////////////////

.markdown {
  & > * {
    margin: 1.4rem 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  & > *:not(figure):not(table):not(.demo-html) {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    @media (min-width: 500px) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  a {
    color: var(--light-copy-pink);
    &:has(code) {
      text-decoration: none;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    code {
      background-color: inherit;
      font-size: 0.875em;
    }
  }

  strong code {
    background-color: inherit;
  }

  code {
    font-family: Hack, mono;
    font-size: 0.875rem;
  }

  p {
    line-height: 1.4;
  }

  pre {
    border: 1px solid var(--black-025);
    overflow-x: auto;
    padding: 1rem;
  }

  table {
    border-collapse: collapse;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    @media (min-width: 500px) {
      width: auto;
    }
    code {
      background: transparent;
      padding: 0;
    }
    td, th {
      border: 1px solid var(--black-025);
      padding: 0.375rem 0.625rem;
      &:first-child {
        border-left-width: 0;
        @media (min-width: 500px) {
          border-left-width: 1px;
        }
      }
      &:last-child {
        border-right-width: 0;
        @media (min-width: 500px) {
          border-right-width: 1px;
        }
      }
    }
    thead {
      th {
        background: #68d1f7;
        text-align: left;
      }
    }
  }

  ul {
    line-height: 1.4;
    margin-left: 0.5rem;
  }
}
