---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Isolations">
	<main>
		<ul>
      <li><a href="/svg-semicircle-percentage">SVG Semicircle Percentage</a></li>
    </ul>
	</main>
</Layout>
