/*
Colors
- Large text on hotpink (#ff69b4) can be as light as #363636
  for WCAG AAA support. 4.56:1
*/

:root {
  --black: #131313;
  --hotpink: #ff69b4;
  --border-radius: 0.75rem;
  --border-color: #b6b6b6;
  --figure-secondary-background-color: #68d1f7; // Best paired with #333
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px; // The smallest supported device width.
}

abbr {
  text-decoration-color: #aaa;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
}

.screen-reader-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

////////////////////////////////////////////////////////////
// Demo Template                                          //
////////////////////////////////////////////////////////////

#nameplate {
  background: var(--black);
  color: #fff;
  display: flex;
    align-items: center;
    gap: 1rem;
  padding: 0.5rem 1rem 0.5rem 0.65rem;

  @media (min-width: 500px) {
    padding: 1rem;
  }

  &-name {
    font-size: 1.75rem;
    font-weight: 300;
    abbr {
      text-decoration: none;
    }
    @media (min-width: 500px) {
      font-size: 2.5rem;
    }
  }
  &-back {
    background: rgba(255,255,255, 0.2);
    border-radius: 999999rem;
    color: #fff;
    font-size: 0.75rem;
    padding: 0.365rem 0.75rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 250ms ease-in, background-color 500ms ease-in;
    &:focus,
    &:hover {
      background: rgba(255,255,255, 0.6);
      color: black;
    }
  }
  h1 {
    font-size: 2rem;
  }
}
#structure {
  animation: fade-in 750ms;
}
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
#stuffs {
  &[data-size="small"] {
    // Soon?
  }
  &[data-size="medium"] {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 2rem;
  }
  &[data-size="large"] {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 2rem;
    #content {
      max-width: 60ch;
    }
  }
}
#footer {
  margin: 2rem 0;
  text-align: center;
  .repo-link {
    color: #767676;
    text-decoration: none
  }
}
// Demo Navigation Drawer
.drawer-list {
  display: flex;

  flex-direction: column;
  margin: 0;
  padding: 0;
  max-width: 360px;
  &-item {
    overflow: hidden;
    display: flex;
    align-items: stretch;
    gap: 1rem;
  }
  &-item-icon {
    background: var(--hotpink);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 44px;
    min-width: 44px;
    text-decoration: none;
    .fill-foreground {
      fill: var(--black);
    }
    .fill-background {
      fill: var(--hotpink);
    }
    svg {
      align-self: center;
    }
  }
  &-item-text {
    // display:none;

    background: #fff;
    color: var(--black);
    padding: 1rem 1rem 1rem 0;
    text-decoration: none;
    a {
      color: var(--black);
      font-weight: 600;
      text-decoration: none;
    }
    p {
      color: #767676;
      margin: 0;
      padding: 0;
    }
  }
}

////////////////////////////////////////////////////////////
// Typography for Body Copy                               //
////////////////////////////////////////////////////////////

.markdown {
  & > * {
    margin: 1.4rem 1rem;
  }

  h1, h2, h3, h4, h5, h6 {
  }
  code {
    background: #e6e6e6;
    color: #333;
    font-family: Hack, mono;
    font-size: 0.875rem;
    padding: 0.125rem 0.25rem;
  }
  p {
    line-height: 1.4;
  }
  table {
    border-collapse: collapse;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    @media (min-width: 500px) {
      margin-left: 1rem;
      margin-right: 1rem;
      width: auto;
    }
    code {
      background: transparent;
      padding: 0;
    }
    td, th {
      border: 1px solid var(--border-color);
      padding: 0.375rem 0.625rem;
      &:first-child {
        border-left-width: 0;
        @media (min-width: 500px) {
          border-left-width: 1px;
        }
      }
      &:last-child {
        border-right-width: 0;
        @media (min-width: 500px) {
          border-right-width: 1px;
        }
      }
    }
    thead {
      th {
        background: #68d1f7;
        text-align: left;
      }
    }
  }
  .figure {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    @media (min-width: 500px) {
      border: none;
      border-radius: 0.75rem;
      box-shadow: inset 0 0 0 1px var(--border-color);
      margin-left: 1rem;
      margin-right: 1rem;
      max-width: 325px;
      width: auto;
    }
    &-subject {
      padding: 0.75rem;
      svg {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
      }
    }
    &-actions,
    &-caption {
      background-color: var(--figure-secondary-background-color);
      padding: 0.75rem;
      p {
        margin: 0;
        padding: 0;
      }
      @media (min-width: 500px) {
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
      }
    }
    &-caption {
      font-size: 0.9375;
      font-style: italic;
    }
  }
}
