---
interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
    <h1>Isolations</h1>
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
		<slot />
	</body>
  <style lang="scss">
    :root {
      --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }
    html {
      font-family: var(--system-ui);
      font-size: 16px;
    }
    abbr {
      text-decoration-color: #aaa;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-thickness: 3px;
    }
  </style>
</html>
